<h1>写文章 </h1>

<%= form_for :article, url: articles_path do |f| %>
    <p>
      <%= f.label :文章标题 %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :文章内容 %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit :提交 %>
    </p>
<% end %>